.App{
    position: absolute;
    text-align: center;
    background-color: white;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

.App-link {
    color: #61dafb;
  }
  

.HomeHeader{
    font-size: calc(50px + 5vmin);;
    font-weight:bolder;
    color: #282c34;
    letter-spacing: 1vmin;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
    margin-top: 20vh;
    margin-bottom: 5vh;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #282c34;
}

.App-logo {
    height: 15vmin;
    pointer-events: all;
    margin-right: 2vmin;
}

.Search-Box{
    border:  2px solid #FB9B3B;
    border-radius: 2vmin;
    height: 5vh;
    width: 50vw;
    color: #999999;
    font-size: larger;
    padding-left: 20px;
    outline: none;
    outline-style: none;
}
  
.Submit-Button{
    background-color: #FB9B3B;
    height: 4vh;
    border-radius: 3vh;
    margin-left: 2vmin;
    border: 1vh solid  #FB9B3B;
}

.In-Line{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
}

.Rectangle{
    position: absolute;
    top: 70vh;
    width: 41.5vw;
    height: 35vh;
    background-color: #f7f7f7;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
}

.Top-Right{
    position: absolute;
    top: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    letter-spacing: 2px;
    font-weight:normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E8E8E8;
    color: #E8E8E8;
}
.Git-logo {
    height: 50px;
    pointer-events:all;
    margin-left: 2vmin;
}